body {background-color: white;}
*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style:none;
}

.btn-warning  {
    color: #fff;
    background-color: #002f68;
    border-color: #002f68;
}

.btn-warning.active.focus, .btn-warning.active:focus, .btn-warning.active:hover,
.btn-warning:active.focus, .btn-warning:active:focus, .btn-warning:active:hover,
.open>.dropdown-toggle.btn-warning.focus, .open>.dropdown-toggle.btn-warning:focus,
.open>.dropdown-toggle.btn-warning:hover {
    color: #fff;
    background-color: #002f68;
    border-color: #002f68;
}

.btn-warning.active, .btn-warning:active, .open>.dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #002f68;
    border-color: #002f68;
}

.btn-warning.focus, .btn-warning:hover {
    color: #fff;
    background-color: #0066ad;
    border-color: #0066ad;
}

.header{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
    color: #1C1C1C;
    padding: 40px 0 20px;
}

.email{
    top: 32px!important;
    border: none!important;
}

@media screen and (max-width: 767px) {
    .input-email .input-group span {
        display: inline;
        width: 100%;
    }
}

#footer{
    margin: 50px 0 0;
    text-align: center;
}
